.input-group {
	margin: 5px;
}

.input-group-addon {
	min-width:200px;
}

.nav-tabs {
	margin: 10px 0;
}

.nav-pills {
	margin: 10px;
}

.contents {
	margin: 20px;
}

.formButtonWrapper {
	text-align: center;
	margin: 10px;
}